<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/lienhe.js"></script>
	<link rel="stylesheet" type="text/css" href="css/lienhe.css">
	<title>kieuanhvan</title>

</head>
<body>
		<!-- <div id="menu_side">
			<a class="float_left" href="trangchu.html">Trang chu</a>
			<a class="float_left" href="sanpham.html">San Pham</a>
			<a class="float_left" href="tintuc.html">Tin tuc</a>
			<a class="float_left" href="gallery.html">Gallery</a>
			<a class="float_left" href="gioithieu.html">Gioi thieu </a>
			<a class="float_left" href="index.html">Thoát </a>
			<a class="float_right" href="lienhe.html">Lien he</a>
		</div> -->
		<div id="container_end">
			<div id="float_left_end">
				<p id="thacmac"> Bạn có thắc mắc ? Hãy đặt câu hỏi cho chúng tôi.</p>
				<button id="EnterName">Nhập vô tên </button>
				<div>
					<p class="float_left1">FullName(Tên): </p>
					<p class="float_left2"></p>
					<p id="name"> </p>
				</div><br><br><br><br><br><br>
					
				<!-- Nhap vao sdt -->
				<button id="phoneNumber">Nhập vô SDT </button>
				
				<div>
					<p class="float_left1">PhoneNumber(SDT):</p>
					<p class="float_left2"></p>
					<p id="sdt"> </p>
				</div><br><br><br><br><br><br>

				<button id="addRess">Nhập vô Địa chỉ </button>
				<div>
					<p class="float_left1">Address(Số Nhà):</p>
					<p class="float_left2"></p>
					<p id="address"> </p>
				</div><br><br><br><br><br><br>


				<button id="question">Nhập vô Thắc Mắt </button>
				<div>
					<p class="float_left1">Question(tôi thắc mắt):</p>
					<p class="float_left2"></p>
					<p id="que"> </p>
				</div><br><br><br><br><br><br>
				<!-- <button>Gửi</button> -->
				<a id="send_massage" href="tongquan.html">Gửi</a>
			</div>

			<div id="float_right_end">
				<p id="lien_he">Liên hệ với chúng tôi</p>
					<div id="container_end1">
						<div class="item_info">
							<div class="title_end">Thông tin Admin</div><br>
							<div> <strong>Ông chủ:</strong> kiều anh văn</div><br>
							<div> <strong>Đối tác:</strong> Phạm Thạnh</div><br>
							<div> <strong>MSSV:</strong> PS24954</div><br>
							<div> <strong>Học Trường:</strong>  Cao đẳng FPT Polytechnic</div><br>
							<div> <strong>Chuyên Ngành:</strong> Ứng dụng phần mềm</div><br>
							<div> <strong>Học Web:</strong> Thầy Nguyễn Văn Long</div>
						</div>

						<!-- <div class="item_info">
							<div class="title_end">Thông tin về chúng tôi</div><br>
							<div> <strong>Số lượng nhân viên:</strong> 500 ACE</div><br>
							<div> <strong>Ngày Thành Lập:</strong> 15/01/2022</div><br>
							<div> <strong>Chuyên Phục vụ:</strong> các loại món ăn việt nam</div><br>
							<div> <strong>Số sao:</strong> Nhà hàng 5 sao ,tiêu chuẩn thế giới</div><br>
							<div> <strong>Địa chỉ:</strong> Toàn nhà trắng , Gần trường FPT</div>
						</div> -->

					</div>
					
					<div class="icons">
	                    <a href="https://www.facebook.com/kieu.anh.van.568"><ion-icon name="logo-facebook"></ion-icon></a>
	                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
	                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
	                    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
	                    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                	</div>
            		<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
			</div>

	</div>
</body>
</html>