<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/tongquan.css">
	<title>kieuanhvan</title>
	<style>
		a{
			font-size: 200%;
			text-decoration: none;
			color: #0000ff;
			font-weight: 900;
			
		}
	</style>
</head>
<body>	
		<div>
			<p class="test">Cảm ơn bạn đã phản hồi cho chúng tôi</p>
			<p class="test">Chúng tôi sẽ tặng bạn voucher nhé !</p>
			<p class="test">Mua 1 tặng 1 ========> trả tiền hai luôn ạ</p>
			<p class="test">Mã: #853949349</p>
			<a href="hoidap1.html"> trở lại</a>


		</div>
</body>
</html>