<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		#float_left_end{
			text-align: center;
		}
	</style>
</head>
<body>
	<div id="float_left_end">
				<p id="thacmac"> Bạn có thắc mắc ? Hãy đặt câu hỏi cho chúng tôi.</p>
				<button id="EnterName">Nhập vô tên </button>
				<div>
					<p class="float_left1">FullName(Tên): </p>
					<p class="float_left2"></p>
					<p id="name"> </p>
				</div><br><br><br><br><br><br>
					
				<!-- Nhap vao sdt -->
				<button id="phoneNumber">Nhập vô SDT </button>
				
				<div>
					<p class="float_left1">PhoneNumber(SDT):</p>
					<p class="float_left2"></p>
					<p id="sdt"> </p>
				</div><br><br><br><br><br><br>

				<button id="addRess">Nhập vô Địa chỉ </button>
				<div>
					<p class="float_left1">Address(Số Nhà):</p>
					<p class="float_left2"></p>
					<p id="address"> </p>
				</div><br><br><br><br><br><br>


				<button id="question">Nhập vô Thắc Mắt </button>
				<div>
					<p class="float_left1">Question(tôi thắc mắt):</p>
					<p class="float_left2"></p>
					<p id="que"> </p>
				</div><br><br><br><br><br><br>
				<!-- <button>Gửi</button> -->
				<a id="send_massage" href="tongquan.html">Gửi</a>
			</div>
</body>
</html>